/*------------------------------------------------------------------
  Project: Olivia
  Author: The_krishna
  Last change: 01/01/2024 
  Primary use: 
------------------------------------------------------------------ */
/*-----------------------[Table of contents]------------------------ 
1.Default CSS 
2.Preloader CSS
3.Section One CSS
4.Section Two CSS
5.Section Three CSS
6.Section Four CSS
7.Footer CSS
8.Bottom top button CSS
------------------------------------------------------------------ */
/*-----------------------[ 1.Default CSS ]------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
    scroll-behavior: smooth;
}
/*-----------------------[ 2.Preloader CSS ]------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: #09101A;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    z-index: 1000;
    transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
    transform: translateY(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
    transform: translateY(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s 1s ease-out;
}
#loader svg text {
    text-transform: uppercase;
    animation: stroke 3s alternate;
    stroke-width: 2;
    stroke: #55E6A5;
    font-size: 100px;
    font-weight: 600;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #55E6A5;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #55E6A5;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #55E6A5;
        stroke-width: 3;
    }

    100% {
        fill: #55E6A5;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}
/*-----------------------[ 3.Section One CSS ]------------------------*/
canvas {
    position: fixed;
    top: 0;
    z-index: -1;
    background: #09101A;
}
.logo_main {
    padding-bottom: 30px;
}
.logo {
    max-width: 100%;
}
.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #FFF;
    padding: 0 12px;
}
.trending {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    max-width: 1140px;
    margin: 0;
    padding-bottom: 50px;
}
.one_page {
    color: #55E6A5;
    text-transform: uppercase;
}
.btn_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
button {
    border: 2px solid transparent;
    background-color: #55E6A5;
    padding: 15px 30px;
    border-radius: 20px !important;
    font-size: 20px !important;
    font-weight: 600;
    transition: all 0.3s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #55E6A5;
    color: #FFF;
    border-radius: 0 !important;
}
/*-----------------------[ 4.Section Two CSS ]------------------------*/
.section_two {
    padding: 100px 0;
    background: #212529;
}
.light_dark_demo {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 52px;
}
.multi_page {
    padding: 100px 0 50px 0;
}
.one_page_demo_text {
    color: #55E6A5;
}
.designs_ss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
}
.olivia_ss {
    max-width: 100%;
}
.box {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.box .view_btn {
    position: absolute;
    color: #000;
    z-index: 2;
    transition: opacity 0.2s, transform 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    margin: 0 auto;
    padding: 0;
    font-size: 20px !important;
    animation: animate-pulse 3s linear infinite;
}

@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 255, 146, 0.7), 0 0 0 0 rgba(74, 255, 177, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 0 rgba(74, 255, 143, 0.7);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
}
.box .view_btn:hover {
    background: #55E6A5;
}
.box:hover {
    transition: all 0.3s ease-in-out;
    background-color: #55E6A5;
}
.box:hover:before {
    transition: all 0.3s ease-in-out;
}
.box img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.box img:hover {
    transition: all 0.3s ease-in-out;
}
.zoom-in .view_btn {
    text-align: center;
    transition: all 0.3s ease;
    transform: scale(1.8);
    opacity: 0;
}
.zoom-in:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}
.zoom-in:hover .view_btn {
    transform: scale(100%);
    transition: all 0.3s ease;
    opacity: 1;
}
.effect_text {
    text-align: center;
    color: #FFF;
    padding-top: 20px;
    margin: 0;
    font-size: 24px;
}
/*-----------------------[ 5.Section Three CSS ]------------------------*/
.section_three {
    padding: 100px 0;
    background-color: #f8f9fa;
}
.features {
    color: #000;
}
.features_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    gap: 30px;
}
.features_img {
    width: 60px;
    height: 60px;
    filter: brightness(0) saturate(100%) invert(80%) sepia(2%) saturate(7148%) hue-rotate(94deg) brightness(95%) contrast(96%);
}
.features_box {
    padding: 40px 20px;
    background-color: #fff;
    width: 100%;
}
.features_icons_text {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
}
/*-----------------------[ 6.Section Four CSS ]------------------------*/
.section_four {
    padding: 100px 0;
    background: #FFF;
}
.responsive_img {
    filter: drop-shadow(1px 2px 4px #000000c5);
    max-width: 100%;
}
.responsive_img_col {
    display: flex;
    justify-content: center;
}
.text_girl_img {
    display: flex;
    align-items: center;
}
.grow_text {
    color: #000;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
}
.grow_olivia {
    font-weight: 600;
    color: #55E6A5;
}
.text_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_puchase_btn {
    margin-top: 10px;
}
.footer_puchase_btn:hover {
    color: #000;
}
/*-----------------------[ 7.Footer CSS ]------------------------*/
footer {
    padding: 20px;
    background: #09101A;
}
.copyright {
    color: #FFF;
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.copyright a {
    text-decoration: none;
    color: #55E6A5;
}
/*-----------------------[ 8.Bottom top button CSS ]------------------------*/
button.bottom-top-button {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 16px !important;
    transform: translateY(0%);
    transition: ease-out 200ms;
    background-color: #55E6A5;
    padding: 0;
    border-radius: 50% !important;
}
button.bottom-top-button:hover {
    transform: translateY(-15%);
    animation: animate-pulse 3s linear infinite;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #55E6A5;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: #09101A;
}