name: Auto Deploy to cPanel
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.MYPOW_CPANEL_HOST }}
          username: ${{ secrets.MYPOW_CPANEL_USER }}
          key: ${{ secrets.MYPOW_CPANEL_SSH_KEY }}
          script: |
            cd /home/nidccglo/mypow.app
            ./deploy.sh
